.collection-item {
    width: 32%;
    display: flex;
    flex-direction: column;
    height: 650px;
    align-items: center;
  
    .image {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
    }
  
    .collection-footer {
      width: 100%;
      height: 5%;
      display: flex;
      flex-direction: column;
  
      .name {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 5px;
      }
  
      .price {
        font-size:15px;
        width: 100%;
      }
    }

    &:hover {
      cursor: pointer;
  
      & .background-image {
        transform: scale(1.1);
        transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
  
      & .content {
        opacity: 0.9;
      }
    }
  }
  