.item-page{
  justify-content: space-between;
  margin: 60px 0px;
  @media screen and (min-width: 800px) {
    display:flex;
  }
  .text-block{
    flex:1;
    
    .price {
      font-size:15px;
      width: 100%;
    } 
  }

  .spacer {
    margin-top:20px
  }

}

