.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      height: 100%;
      width: 100px;
      padding: 25px;
      margin-left: 20px;
    }

    .options {
      padding: 50px;
      width: 50%;
      height: 100%;
      font-size:12px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
        cursor:pointer;
      }
    }
  }
  